---
layout: default-headed
---


<!--
<h3>
	<a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true">
		<span class="octicon octicon-link"></span>
	</a>
	List of available Apple frameworks
</h3>
-->

<div class="col-lg-1">
</div>

<div class="col-lg-10">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
		  <th>#</th>
          <th>Since</th>
          <th><span class="glyphicon glyphicon-check" aria-hidden="true"></span></th>
		  <th>T</t>
          <th>Framework</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
		{% assign count = '0' %}
		{% for kit in site.kits %}
			{% capture count %}{{ count | plus: '1' }}{% endcapture %}
        <tr>
			<td>{{ count }}</td>
          	<td>
          		<a href="/{{kit.since}}"><span class="label 
				{% if kit.since == "iOS8" %}label-primary
				{% elsif kit.since == "iOS7" %}label-success
				{% elsif kit.since == "iOS6" %}label-danger
				{% elsif kit.since == "iOS5" %}label-warning
				{% else %}label-info
				{% endif %}">{{kit.since}}</span></a>
			</td>
        	<td>
				{% if kit.status == "TODO" %}
				<span data-toggle="tooltip" data-placement="top" data-original-title="TODO">
					<span class="glyphicon glyphicon-fire" aria-hidden="true">
				</span>
				{% endif %}
			</td>
			<td>
				{% if kit.type == 'technology' %}
					<span data-toggle="tooltip" data-placement="top" data-original-title="Technology">
						<span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
					</span>
				{% endif %}
			</td>
          <td>
				<a href="{{ kit.url }}" >
					{% if kit.deprecated %}<strike>{% endif %}
					{% if kit.shortName %}{{ kit.shortName }}
					{% else %}{{ kit.name }}
					{% endif %}
					{% if kit.deprecated %}</strike>{% endif %}
				</a>
		  </td>
          <td>
				{% if kit.deprecated %}
					[DEPRECATED: {{ kit.deprecated }}]<br/>
				{% endif %}
				{{ kit.abstract }}
		  </td>
        </tr>
		  {% endfor %}
      </tbody>
    </table>
</div>

<div class="col-lg-1">
</div>
