---
layout: default-headed
---


<!--
<h3>
	<a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true">
		<span class="octicon octicon-link"></span>
	</a>
	List of available Apple frameworks
</h3>
-->

<div class="col-lg-1">
</div>

<div class="col-lg-10">
	<p>See also the pages <a href="/features.html">Features</a> (with <a href="/Swift">Swift</a>, its <a href="/CodeCards">Code Cards</a> and
		<a href="/languages.html">comparison with other functional languages</a>) or <a href="/devices.html">Devices</a>.
	</p>
	<p>&nbsp;</p>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
		  <th>#</th>
          <th>Since</th>
          <th>
			  <span data-toggle="tooltip" data-placement="top" data-original-title="Status">
				<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
			  </span>
		  </th>
		  <th><span data-toggle="tooltip" data-placement="top" data-original-title="Is a technology?">T</span></th>
          <th>Framework</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
		{% assign count = '0' %}
		{% for kit in site.kits %}
			{% capture count %}{{ count | plus: '1' }}{% endcapture %}
        <tr>
			<td>{{ count }}</td>
          	<td>{% include ios-link.html ios=kit.since %}</td>
        	<td>{% include mark-status.html status=kit.status %}</td>
			<td>
				{% if kit.type == 'technology' %}
					<span data-toggle="tooltip" data-placement="top" data-original-title="Technology">
						<span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
					</span>
				{% endif %}
			</td>
          <td>
				<a href="{{ kit.url }}" >
					{% if kit.deprecated %}<strike>{% endif %}
					{% if kit.shortName %}{{ kit.shortName }}
					{% else %}{{ kit.name }}
					{% endif %}
					{% if kit.deprecated %}</strike>{% endif %}
				</a>
		  </td>
          <td>
				{% if kit.deprecated %}
					[DEPRECATED: {{ kit.deprecated }}]<br/>
				{% endif %}
				{{ kit.abstract }}
		  </td>
        </tr>
		  {% endfor %}
      </tbody>
    </table>
</div>

<div class="col-lg-1">
</div>
