---
layout: default-headed
---

<div class="row">
	<div class="col-lg-12">
		<h1>
			<a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true">
				<span class="octicon octicon-link"></span>
			</a>
			Devices
		</h1>

		<h3>
			Tech Specs
		</h3>
	</div>
</div>



<div class="row">
	<div class="col-lg-12">
	    <table class="table table-striped table-hover">
	      <thead>
	        <tr>
			  <th>#</th>
	          <th><span class="glyphicon glyphicon-check" aria-hidden="true"></span></th>
			  <th>Name</t>
			  <th>Release</t>
		      <th>Dimensions (mm)</th>
		      <th>Weight (g) <sup>(1)</sup></th>
	          <th>Screen (")</th>
	          <th>Resolution (p)</th>

	          <th>Capacity (Go)</th>
	          <th>RAM</th>
	          <th>Chips</th>
	          <th>Cam. <sup>(2)</sup></th>
	          <th>Video</th>
	          <th>OS</th>
        </tr>
      </thead>
      <tbody>
		{% assign count = '0' %}
		{% for device in site.devices %}
			{% if device.status != "TODO" %}
				{% capture count %}{{ count | plus: '1' }}{% endcapture %}
	        	<tr>
					<td>{{ count }}</td>
	        		<td>
						{% if device.status == "DOING" %}
							<span data-toggle="tooltip" data-placement="top" data-original-title="TODO">
								<span class="glyphicon glyphicon-fire" aria-hidden="true">
							</span>
						{% endif %}
					</td>
	          		<td>
						{% if device.current == "yes" %}<span class="label label-primary">{% endif %}
						<a href="{{ device.url }}">{{ device.name }}</a></li>
						{% if device.current == "yes" %}</span>{% endif %}
		  				{% include device-generation.html generation=device.generation %}</td>
			  		</td>
    
					<td>{% include year-from-date.html date=device.release %}</td>
			
	          		<td>{{ device.dimensions.width }}x{{ device.dimensions.height }}x{{ device.dimensions.thickness }}</td>
	        
	  				<td>{{ device.weight.wifi }} / {{ device.weight.cellular }}</td>

					{% assign screen = device.resolutions.Screen %}
	          		<td>{{ screen.info }}</td>

	          		<td>{% include retina.html retina=device.retina %}&nbsp;{{ screen.height }}x{{ screen.width }}</td>

	  				<td>{{ device.capacity | join : ", " }}</td>
	  				<td>{{ device.ram.size }} {{ device.ram.unit }}</td>
	
					{% if device.chip.size > 15 %}
						{% assign words = device.chip | split: ' ' %}
  						<td>{{ words[0] }}</td>
					{% else %}
	  					<td>{{ device.chip }}</td>
					{% endif %}
					
	  				<td>{{ device.cameras.front }} / {{ device.cameras.back }}</td>
	  				<td>{{ device.video }}</td>
	  				<td>{% include ios-link-list.html ios=device.os type="short" %}</td>
	        	</tr>
			{% endif %}
		{% endfor %}
      </tbody>
    </table>
	<p><sup>(1)</sup> Weight : Wifi only / Wifi + Cellular, or Lightest / Heaviest Watch models</p>
	<p><sup>(2)</sup> Cam. : Camera resolution (megapixels), Front / Back</p>
</div>

</div>



<div class="row">
	<div class="col-lg-12">
		<h3>
			Resolutions
		</h3>
	</div>
</div>

<div class="row">

<div class="col-lg-1">
</div>

<div class="col-lg-11">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
		  <th>#</th>
          <th><span class="glyphicon glyphicon-check" aria-hidden="true"></span></th>
		  <th>Name</t>
          <th>Screen</th>
          <th>Resolution (p)</th>
          <th>Retina</th>
          <th>Launch Image</th>
          <th>AppIcon</th>
          <th>Spotlight</th>
          <th>Settings</th>
          <th>AppStore</th>
        </tr>
      </thead>
      <tbody>
		{% assign count = '0' %}
		{% for device in site.devices %}
			{% if device.status != "TODO" %}
				{% capture count %}{{ count | plus: '1' }}{% endcapture %}
	        	<tr>
					<td>{{ count }}</td>
	        		<td>
						{% if device.status == "DOING" %}
							<span data-toggle="tooltip" data-placement="top" data-original-title="TODO">
								<span class="glyphicon glyphicon-fire" aria-hidden="true">
							</span>
						{% endif %}
					</td>
	          		<td>
						{% if device.current == "yes" %}<span class="label label-primary">{% endif %}
						<a href="{{ device.url }}">{{ device.name }}</a></li>
						{% if device.current == "yes" %}</span>{% endif %}
		  				{% include device-generation.html generation=device.generation %}</td>
			  		</td>
    
					{% assign screen = device.resolutions.Screen %}
	          		<td>{{ screen.info }}</td>
	          		<td>{{ screen.height }} x {{ screen.width }}</td>

	          		<td>{% include retina.html retina=device.retina %}</td>

					{% assign LaunchImage = device.resolutions.LaunchImage %}
	          		<td>{{ LaunchImage.height }}x{{ LaunchImage.width }}</td>

					{% assign AppIcon = device.resolutions.AppIcon %}
	          		<td>{{ AppIcon.height }}x{{ AppIcon.width }}</td>

					{% assign Spotlight = device.resolutions.Spotlight %}
	          		<td>{{ Spotlight.height }}x{{ Spotlight.width }}</td>

					{% assign Settings = device.resolutions.Settings %}
	          		<td>{{ Settings.height }}x{{ Settings.width }}</td>

					{% assign AppStore = device.resolutions.AppStore %}
	          		<td>{{ AppStore.height }}x{{ AppStore.width }}</td>
	        	</tr>
			{% endif %}
		{% endfor %}
      </tbody>
    </table>


	<label for = "weightChart">
		Devices Weight (g)<br />
		<canvas id="weightChart" width="600" height="300"></canvas>
	</label>
	
	<label for = "camerasChart">
		Cameras Resolutions (Mpx)<br />
		<canvas id="camerasChart" width="600" height="300"></canvas>
	</label>
	
	<label for = "screenChart">
		Screens size ('')<br />
		<canvas id="screenChart" width="600" height="300"></canvas>
	</label>

	<script>

	var data = {
	    labels: 
		[
		{% for device in site.devices %}
			"{{device.name}}"
			{% if device != site.devices.last %}
			,
			{% endif %}
		{% endfor %}
		],
	    datasets: [
	        {
	            label: "Weight Wi-fi (g)",
	            fillColor: "rgba(220,220,220,0.5)",
	            strokeColor: "rgba(255,255,255,0.9)",
	            highlightFill: "rgba(220,220,220,0.75)",
	            highlightStroke: "rgba(220,220,220,1)",
	            data: [
				{% for device in site.devices %}
					"{{device.weight.wifi}}"
					{% if device != site.devices.last %}
					,
					{% endif %}
				{% endfor %}
				]
	        },
	        {
	            label: "Weight Cellular (g)",
	            fillColor: "rgba(151,187,205,0.5)",
	            strokeColor: "rgba(151,187,205,0.8)",
	            highlightFill: "rgba(151,187,205,0.75)",
	            highlightStroke: "rgba(151,187,205,1)",
	            data: [
				{% for device in site.devices %}
					"{{device.weight.cellular}}"
					{% if device != site.devices.last %}
					,
					{% endif %}
				{% endfor %}
				]
	        }
	    ]
	};
	var options = {};

	var ctx = document.getElementById("weightChart").getContext("2d");
	var myBarChart = new Chart(ctx).Bar(data, options);

</script>




	<script>

	var data2 = {
	    labels: [
		{% for device in site.devices %}
			"{{device.name}}"
			{% if device != site.devices.last %}
			,
			{% endif %}
		{% endfor %}
		],
	    datasets: [
	        {
	            label: "Back Camera (Mpx)",
	            fillColor: "rgba(220,220,220,0.2)",
	            strokeColor: "rgba(220,220,220,1)",
	            pointColor: "rgba(220,220,220,1)",
	            pointStrokeColor: "#fff",
	            pointHighlightFill: "#fff",
	            pointHighlightStroke: "rgba(220,220,220,1)",
	            data: [
				{% for device in site.devices %}
					{% if device.cameras.back == "-" %}
						0
					{% else %}
						{{device.cameras.back}}
					{% endif %}
					{% if device != site.devices.last %}
					,
					{% endif %}
				{% endfor %}
				]
	        },
	        {
	            label: "Front Camera (Mpx)",
	            fillColor: "rgba(151,187,205,0.2)",
	            strokeColor: "rgba(151,187,205,1)",
	            pointColor: "rgba(151,187,205,1)",
	            pointStrokeColor: "#fff",
	            pointHighlightFill: "#fff",
	            pointHighlightStroke: "rgba(151,187,205,1)",
	            data: [
				{% for device in site.devices %}
					{% if device.cameras.front == "-" %}
						0
					{% else %}
						{{device.cameras.front}}
					{% endif %}
					{% if device != site.devices.last %}
					,
					{% endif %}
				{% endfor %}
				]
	        }
	    ]
	};
	var options2 = {
		multiTooltipTemplate: "<%= datasetLabel %> - <%= value %>"
	};

	var ctx2 = document.getElementById("camerasChart").getContext("2d");
	var myLineChart = new Chart(ctx2).Line(data2, options2);

</script>





	<script>

	var data3 = {
	    labels: [
		{% for device in site.devices %}
			"{{device.name}}"
			{% if device != site.devices.last %}
			,
			{% endif %}
		{% endfor %}
		],
	    datasets: [
	        {
	            label: "Screen Size ('')",
	            fillColor: "rgba(220,220,220,0.2)",
	            strokeColor: "rgba(220,220,220,1)",
	            pointColor: "rgba(220,220,220,1)",
	            pointStrokeColor: "#fff",
	            pointHighlightFill: "#fff",
	            pointHighlightStroke: "rgba(220,220,220,1)",
	            data: [
				{% for device in site.devices %}
					{% if device.resolutions.Screen.info == "" %}
						0
					{% else %}
						{{device.resolutions.Screen.info}}
					{% endif %}
					{% if device != site.devices.last %}
					,
					{% endif %}
				{% endfor %}
				]
	        }
	    ]
	};
	var options3 = {
		multiTooltipTemplate: "<%= datasetLabel %> - <%= value %>"
	};

	var ctx3 = document.getElementById("screenChart").getContext("2d");
	var myLineChart = new Chart(ctx3).Line(data3, options3);

</script>
</div>

</div>
