---
layout: default-headed
---


<!--
<h3>
	<a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true">
		<span class="octicon octicon-link"></span>
	</a>
	List of available Apple frameworks
</h3>
-->

<div class="col-lg-1">
</div>

<div class="col-lg-10">
	<p>
		This page list the features of both <a href="/Swift">Swift</a> and <a href="/ObjectiveC">Objective-C</a> languages [WORK IN PROGRESS].
		You can also see comparison with other <a href="/languages.html">Languages</a>.
	</p>
	<p>&nbsp;</p>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
		  <th>#</th>
          <th><span class="glyphicon glyphicon-check" aria-hidden="true"></span></th>
		  <th>Lgg</t>
          <th>Feature</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
		{% assign count = '0' %}
		{% for feature in site.features %}
				{% capture count %}{{ count | plus: '1' }}{% endcapture %}
	        	<tr>
					<td>{{ count }}</td>
	        		<td>
						{% include mark-status.html status=feature.status %}
					</td>
					<td>
						{% include language.html language=feature.language size="small" %}
					</td>
	          		<td>
			    		<a href="{{ feature.iid }}">{{ feature.name }}</a></li>
			  		</td>
	          		<td>
						{{ feature.abstract }}
			  		</td>
	        	</tr>
		{% endfor %}
      </tbody>
    </table>
</div>

<div class="col-lg-1">
</div>
