---
layout: default
---



<div class="page-header" ><!-- id="banner" -->
	<div class="row">
	  <div class="col-lg-8 col-md-7 col-sm-6">
	    <h1>iOS-K.it</h1>
	    <p class="lead">Which iOS Kit in which iOS version?</p>
	  </div>
	  <div class="col-lg-4 col-md-5 col-sm-6">
	    <div class="sponsor">
		<!--
	      <a href="http://www.shopify.com/?ref=bootswatch" target="_blank" onclick="_gaq.push(['_trackEvent', 'banner', 'click', 'shopify']);"><img src="../assets/img/shopify.png" alt="Shopify" onload="_gaq.push(['_trackEvent', 'banner', 'impression', 'shopify']);"></a>
	-->
	    </div>
	  </div>
	</div>
</div>

<!--
<h3>
	<a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true">
		<span class="octicon octicon-link"></span>
	</a>
	List of available Apple frameworks
</h3>
-->

<div class="col-lg-3">
</div>
<div class="col-lg-6">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Framework</th>
          <th>Since</th>
        </tr>
      </thead>
      <tbody>
		  {% for kit in site.kits %}
        <tr>
          <!-- th scope="row"><a href="{{ kit.url }}">{{ kit.name }}</a></th -->
          <td>
			<span data-toggle="tooltip" data-placement="top" data-original-title="Default tooltip">
				<a href="{{ kit.url }}" >{{ kit.name }}</a>
			</span>
		  </td>
          	<td>
				{% if kit.since == "iOS8" %}
					<span class="label label-primary">{{kit.since}}</span>
				{% elsif kit.since == "iOS7" %}
					<span class="label label-success">{{kit.since}}</span>
				{% elsif kit.since == "iOS6" %}
					<span class="label label-danger">{{kit.since}}</span>
				{% elsif kit.since == "iOS5" %}
					<span class="label label-warning">{{kit.since}}</span>
				{% else %}
					<span class="label label-info">{{kit.since}}</span>
				{% endif %}
			</td>
        </tr>
		  {% endfor %}
      </tbody>
    </table>
</div>
<div class="col-lg-3">
</div>
