---
layout: default-headed
---


<div class="row">
	<div class="col-lg-1">
	</div>

  <div class="col-lg-10">
	<div class="alert alert-info alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  You can now add your CVs in iOS-K.it to take advantage of Frameworks listed here and dynamically link them from your CVs: Go to <a href="/cvs" class="alert-link">CVs</a> page (from here or the top menu)!
	</div>
	<p>See also the <a href="/features.html">Features</a> or <a href="/devices.html">Devices</a> pages.</p><p>&nbsp;</p>
  </div>

	<div class="col-lg-1">
	</div>
</div>

<div class="col-lg-1">
</div>

<div class="col-lg-3">
	<table class="table table-striped table-hover">
      <thead>
        <tr>
		  <th>#</th>
          <th>Since</th>
          <th><span class="glyphicon glyphicon-check" aria-hidden="true"></span></th>
          <th>Framework</th>
        </tr>
      </thead>
      <tbody>
		{% assign count = '0' %}
		{% for kit in site.kits %}
			{% capture count %}{{ count | plus: '1' }}{% endcapture %}
        <tr>
			<td>{{ count }}</td>
          	<td>{% include ios-link.html ios=kit.since %}</td>
        	<td>{% include mark-todo.html status=kit.status %}</td>
          	<td>
				<!-- {% include mark-technology.html type=kit.type %} -->

				{% capture tooltip %}{% endcapture %}
				{% if kit.deprecated %}
					{% capture tooltip %}[DEPRECATED: {{ kit.deprecated }}] {% endcapture %}
				{% endif %}
				{% capture tooltip %}{{ tooltip }}{{ kit.abstract }}{% endcapture %}
				<span data-toggle="tooltip" data-placement="top" data-original-title="{{tooltip}}">
					<a href="{{ kit.url }}" >
						{% if kit.deprecated %}<strike>{% endif %}
						{% if kit.shortName %}{{ kit.shortName }}
						{% else %}{{ kit.name }}
						{% endif %}
						{% if kit.deprecated %}</strike>{% endif %}
					</a>
				</span>
		  	</td>
        </tr>
		  {% endfor %}
      </tbody>
    </table>
</div>


<div class="col-lg-7">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
			<th><span class="glyphicon glyphicon-check" aria-hidden="true"></span></th>
          <th>T</th>
          <th>Framework</th>
		  	{% for ios in site.versions %}
          		<th>{{ ios }}</th>
			{% endfor %}
        </tr>
      </thead>
      <tbody>
	
		  {% for ios in site.versions reversed %}
	
			{% assign kits = site.kits | where: "since", ios %}
			  {% for kit in kits %}
	        <tr>
        		<td>{% include mark-todo.html status=kit.status %}</td>
	          	<td>{% include mark-technology.html type=kit.type %}</td>
	          	<td>
					{% capture tooltip %}{% endcapture %}
					{% if kit.deprecated %}
						{% capture tooltip %}[DEPRECATED: {{ kit.deprecated }}] {% endcapture %}
					{% endif %}
					{% capture tooltip %}{{ tooltip }}{{ kit.abstract }}{% endcapture %}
					<span data-toggle="tooltip" data-placement="top" data-original-title="{{ tooltip }}">
						{% if kit.deprecated %}<strike>{% endif %}
						<a href="{{ kit.url }}" >{{ kit.name }}</a>
						{% if kit.deprecated %}</strike>{% endif %}
					</span>
			  	</td>
				<td>{% include kit-with-ios-update.html ios="iOS2" %}</td>
				<td>{% include kit-with-ios-update.html ios="iOS3" %}</td>
				<td>{% include kit-with-ios-update.html ios="iOS4" %}</td>
				<td>{% include kit-with-ios-update.html ios="iOS5" %}</td>
				<td>{% include kit-with-ios-update.html ios="iOS6" %}</td>
				<td>{% include kit-with-ios-update.html ios="iOS7" %}</td>
				<td>{% include kit-with-ios-update.html ios="iOS8" %}</td>
				<td>{% include kit-with-ios-update.html ios="WatchOS" %}</td>
	        </tr>
			  {% endfor %}
	
		  {% endfor %}
	
	
      </tbody>
    </table>
</div>
<div class="col-lg-1">
</div>
