---
layout: default-headed
---

{% assign swift = site.kits | where:"iid", 'swift' | first %}

{% assign languages = site.languages | push: swift | reverse %}

<!--
<h3>
	<a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true">
		<span class="octicon octicon-link"></span>
	</a>
	List of available Apple frameworks
</h3>
-->

<div class="col-lg-1">
</div>

<div class="col-lg-10">
	<p>This page compare features of some famous Functional Programming languages.</p>
	<p>See also the <a href="/Swift">Swift</a> language page.</p>
	<p>&nbsp;</p>
    <table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				{% for feature in site.languageFeatures %}
					<th>{{ feature }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% assign count = '0' %}
			{% for language in languages %}
				{% capture count %}{{ count | plus: '1' }}{% endcapture %}
				<tr>
					<th>{{ count }}</th>
					<td><a href="{{language.url}}">{{ language.name }}</a></td>
					{% for f in site.languageFeatures %}
						{% assign feature = language.features[f] %}
						<td>
							{% include mark-language-feature.html feature=feature %}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
    </table>
</div>

<div class="col-lg-1">
</div>
