{% if include.name == "email" %}<a href="mailto:{{include.value}}">{{include.value}}</a>
{% elsif include.name == "twitter" %}<i class="fa fa-twitter"></i>&nbsp;<a href="http://twitter.com/{{include.value}}">@{{include.value}}</a>
{% elsif include.name == "facebook" %}<i class="fa fa-facebook"></i>&nbsp;<a href="http://facebook.com/{{include.value}}">{{include.value}}</a>
{% elsif include.name == "linkedin" %}<i class="fa fa-linkedin"></i>&nbsp;<a href="http://linkedin.com/{{include.value}}">{{include.value}}</a>
{% else %}<a href="{{include.value}}">{{include.name}}</a>
{% endif %}
