---
layout: default
---

<div class="bs-docs-section">

	<div class="page-header">
    	<div class="row">
        	<div class="col-lg-12">
          		<h1 id="page-title">
			      	{% if page.picture %}<img src="{{page.picture}}" width="100"/>&nbsp;{% endif %}
			      	{{page.firstName}} {{page.lastName}}
					{% if page.subtitle %}&nbsp;<sup><sup><i>{{page.subtitle}}</i></sup></sup>{% endif %}
				</h1>
        	</div>
      	</div>
	  	{% if page.location %}
		<div class="row">
			<div class="col-lg-12">
				<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>&nbsp;{{ page.location }}
			</div>
		</div>
		{% endif %}
    </div>

	<div class="row">
		<div class="col-lg-12">
			{% for s in page.socials %}
				{% include cvs-social.html name=s.social.name value=s.social.value %}
			{% endfor %}
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			{% for s in page.sites %}
  				<a href="{{s.site.url}}">{{s.site.title}}</a>&nbsp;&bull;&nbsp;
			{% endfor %}
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<p>&nbsp;</p>
			{{page.content}}
		</div>
	</div>

	<div class="row">
		<p>&nbsp;</p>
		<div class="col-lg-1"></div>

		<div class="col-lg-10">
			<h4>Applications</h4>
			<ul>
			{% for a in page.applications %}
				<li>
					<a href="#{{a.application.id}}">{{a.application.name}}</a>
					{% if a.application.year %}&nbsp;({{ a.application.year }})</i>{% endif %}
					{% if a.application.abstract %}<i>&nbsp;-&nbsp;{{a.application.abstract}}</i>{% endif %}
				</li>
			{% endfor %}
			</ul>
		</div>

		<div class="col-lg-1"></div>
	</div>

	<div class="row">
		<p>&nbsp;</p>
		<div class="col-lg-1">
		</div>

		{% assign kits = site.kits %}
		{% assign ioss = site.ios %}
		{% assign features = site.features %}
		{% assign externals = site.externals %}

		<div class="col-lg-10">
	    	<table class="table table-striped table-hover">


				<!-- EXTERNALS -->
				<thead>
					<tr>
  						<th><span class="glyphicon glyphicon-check" aria-hidden="true"></span></th>
  						<th>External Frameworks</th>
  						<th width="80%">Application</th>
					</tr>
				</thead>
				<tbody>
					{% for e in externals %}
						{% capture count %}{{ count | plus: '1' }}{% endcapture %}
						<tr>
							<td>{{ count }}</td>
  							<td>
  								<a href="{{e.url}}">{{e.name}}</a>
							</td>
							<td>
								{% for a in page.applications %}
									{% if a.application.externals contains e.id %}
									<a href="#{{a.application.id}}">
										<span class="label label-primary">
											{{a.application.name}}
											{% if a.application.year %}&nbsp;({{ a.application.year }})</i>{% endif %}
										</span>
									</a>
									&nbsp;&bull; 
									{% endif %}
								{% endfor %}
							</td>
						</tr>
  					{% endfor %}
				</tbody>
		
		
				<!-- FEATURES -->
	      		<thead>
					<tr>
  						<th><p>&nbsp;</p><p>&nbsp;</p></th>
  						<th></th>
  						<th></th>
					</tr>
	        		<tr>
	          			<th><span class="glyphicon glyphicon-check" aria-hidden="true"></span></th>
			  			<th>Features</th>
	          			<th>Application</th>
	        		</tr>
	      		</thead>
	      		<tbody>
					{% assign count = '0' %}
					{% for f in features %}
						{% capture count %}{{ count | plus: '1' }}{% endcapture %}
	        			<tr>
							<td>{{ count }}</td>
	          				<td>
	          					<a href="{{f.url}}">{{f.name}}</a>
							</td>
							<td>
								{% for a in page.applications %}
									{% if a.application.features contains f.id %}
									<a href="#{{a.application.id}}">
										<span class="label label-primary">
											{{a.application.name}}
											{% if a.application.year %}&nbsp;({{ a.application.year }})</i>{% endif %}
										</span>
									</a>
									&nbsp;&bull; 
									{% endif %}
								{% endfor %}
							</td>
	        			</tr>
			  		{% endfor %}
	      		</tbody>
	
	
				<!-- FRAMEWORKS -->
	      		<thead>
	        		<tr>
	          			<th><p>&nbsp;</p><p>&nbsp;</p></th>
			  			<th></th>
	          			<th></th>
	        		</tr>
	        		<tr>
	          			<th><span class="glyphicon glyphicon-check" aria-hidden="true"></span></th>
			  			<th>iOS Frameworks</th>
	          			<th>Application</th>
	        		</tr>
	      		</thead>
	      		<tbody>
					{% for k in kits %}
						{% capture count %}{{ count | plus: '1' }}{% endcapture %}
	        			<tr>
							<td>{{ count }}</td>
	          				<td>
	          					<a href="{{k.url}}">{{k.name}}</a>
							</td>
							<td>
								{% for a in page.applications %}
									{% if a.application.kits contains k.id %}
									<a href="#{{a.application.id}}">
										<span class="label label-primary">
											{{a.application.name}}
											{% if a.application.year %}&nbsp;({{ a.application.year }})</i>{% endif %}
										</span>
									</a>
									&nbsp;&bull; 
									{% endif %}
								{% endfor %}
							</td>
	        			</tr>
			  		{% endfor %}
	      		</tbody>
	    	</table>
		</div>

		<div class="col-lg-1">
		</div>
	</div>

	<div>
		<div class="col-lg-1">
		</div>

    	<div class="col-lg-10">
			{% for a in page.applications %}
				<div id="{{ a.application.id }}"><p>&nbsp;</p></div>
				<div class="row">
					<h2>
						{{ a.application.name }}
					</h2>
					<p>
						{% if a.application.startDate %}
							<span data-toggle="tooltip" data-placement="top" data-original-title="Release Date">
								<span class="label label-default">
									{{ a.application.startDate }}
									&nbsp;<i class="glyphicon glyphicon-arrow-right"></i>&nbsp;
									{% if a.application.endDate %}
										{{ a.application.endDate }}
									{% else %}
										Now
									{% endif %}
								</span>
							</span>
							&nbsp;
						{% endif %}
						{% if a.application.publishDate %}
							<span data-toggle="tooltip" data-placement="top" data-original-title="Release Date">
								<span class="label label-success">
									<i class="glyphicon glyphicon-cloud-upload"></i>&nbsp;
									{{ a.application.publishDate }}
								</span>
							</span>
							&nbsp;
						{% endif %}
						{% if a.application.url %}<a href="{{ a.application.url }}">{{ a.application.url }}</a>{% endif %}
					</p>
					<p>{{ a.application.abstract }}</p>
					{% if a.application.detail %}<p><span class="label label-default">The Application</span>&nbsp;{{ a.application.detail }}</p>{% endif %}
					{% if a.application.mission %}<p><span class="label label-default">My Mission</span>&nbsp;{{ a.application.mission }}</p>{% endif %}

					<!-- FEATURES -->
					{% if a.application.features %}
						<h4>Features</h4>
						<ul>
						{% for f in features %}
							{% if a.application.features contains f.id %}<li><a href="{{f.url}}">{{f.name}}</a></li>{% endif %}
						{% endfor %}
						</ul>
					{% endif %}

					<!-- FRAMEWORKS -->
					{% if a.application.kits %}
						<h4>Frameworks</h4>
						<ul>
						{% for k in kits %}
							{% if a.application.kits contains k.id %}<li><a href="{{k.url}}">{{k.name}}</a></li>{% endif %}
						{% endfor %}
						</ul>
					{% endif %}

					<!-- EXTERNAL -->
					{% if a.application.externals %}
						<h4>External</h4>
						<ul>
						{% for e in externals %}
							{% if a.application.externals contains e.id %}<li><a href="{{e.url}}">{{e.name}}</li></a>{% endif %}
						{% endfor %}
						</ul>
					{% endif %}
				</div>
			{% endfor %}
		</div>

		<div class="col-lg-1">
		</div>
	</div>
</div>
