---
layout: default
---

<div class="page-header" ><!-- id="banner" -->
	<div class="row">
	  <div class="col-lg-8 col-md-7 col-sm-6">
	    <h1>iOS-K.it&nbsp;<sup><sup><span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp;ioskit.io</sup></sup></h1>
	    <p class="lead">Which iOS Kit in which iOS version? And <a href="/cvs">in your CVs</a>?</p>
	  </div>
	  <div class="col-lg-4 col-md-5 col-sm-6">
	    <div class="sponsor">
		<img src="/resources/images/icons/ioskit-w-100x.png" />
	    </div>
	  </div>
	</div>
</div>


{{ content }}
