<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="iOS-K.it: Which iOS Kit in which iOS version?... !">

	<!--
    <link href="/resources/stylesheets/stylesheet.css" rel="stylesheet" type="text/css" media="screen">
	-->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/resources/bootstrap/3.3.2/css/bootstrap-superhero.css">
	<link rel="stylesheet" href="/resources/bootstrap/3.3.2/css/bootswatch.min.css">
    <title>iOS-K.it</title>
  </head>







  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">iOS-K.it</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <!-- li><a href="http://news.bootswatch.com">Blog</a></li -->
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">iOS <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="download">
                <li><a href="/iOS8">iOS 8</a></li>
                <li><a href="/iOS7">iOS 7</a></li>
                <li><a href="/iOS6">iOS 6</a></li>
                <li><a href="/iOS5">iOS 5</a></li>
                <li class="divider"></li>
                <li><a href="/iOS4">iOS 4</a></li>
                <li><a href="/iOS3">iOS 3</a></li>
                <li><a href="/iOS2">iOS 2</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Xcode <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="download">
                <li><a href="/Xcode6">Xcode 6</a></li>
                <li><a href="/Xcode5">Xcode 5</a></li>
                <li><a href="/Xcode45">Xcode 4.5</a></li>
                <li><a href="/Xcode42">Xcode 4.2</a></li>
                <li><a href="/Xcode4">Xcode 4</a></li>
                <li><a href="/Xcode3">Xcode 3</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">About</a></li>
          </ul>

        </div>
      </div>
    </div>


    <div class="container">


		{{ content }}


      <footer>
        <div class="row">
          <div class="col-lg-12">
			<p>&nbsp;</p>
			<p>&nbsp;</p>

            <ul class="list-unstyled">
              <li class="pull-right"><a href="#top">Back to top</a></li>
              <!-- li><a href="http://news.bootswatch.com" onclick="pageTracker._link(this.href); return false;">Blog</a></li -->
              <!-- li><a href="http://feeds.feedburner.com/bootswatch">RSS</a></li -->
              <li><a href="#">Twitter</a></li>
              <li><a href="https://github.com/ioskit/ioskit.github.io" target="_blank">GitHub</a></li>
              <li><a href="#">JSON API</a></li>
              <!-- li><a href="../help/#support">Support</a></li -->
            </ul>
            <p>Powered by 
				&nbsp;<a href="https://pages.github.com" target="_blank">Github Pages</a>
				&nbsp;&bull;
				&nbsp;<a href="http://getbootstrap.com" rel="nofollow" target="_blank">Twitter Bootstrap</a>
				&nbsp;&bull;
				&nbsp;<a href="http://thomaspark.me" rel="nofollow" target="_blank">Thomas Park's Theme</a>&nbsp;(thank's!)
			</p>
            <p>© <a href="http://ioskit.io">iOS-K.it</a> 2015.</p>
          </div>
        </div>

      </footer>


    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/resources/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="/resources/bootstrap/3.3.2/js/bootswatch.js"></script>

	<script type="text/javascript">
	$(document).ready(function(){
	    $('[data-toggle="tooltip"]').tooltip();   
	});
	</script>
  </body>
