---
layout: default
---

<div class="bs-docs-section">

	<div class="page-header">
    	<div class="row">
        	<div class="col-lg-12">
          		<h1 id="page-title">
			      	{{ page.name }}
					<sup>{% include language.html language=page.language size="big" withLink="yes" %}</sup>
				</h1>
        	</div>
      	</div>
    </div>

	<div class="row">
        <div class="col-lg-12">
			{{ content }}
      	</div>
    </div>

	{% if page.features %}
		{% assign allFeatures = site.features %}

		<h3>See also</h3>
		<ul>
			{% for feature in page.features %}
				{% for f in allFeatures %}
					{% if feature == f.iid %}
						<li><a href="/{{ feature }}">{% include feature-name.html name=f.name language=f.language %}</a></li>
					{% endif %}
				{% endfor %}
			{% endfor %}
		</ul>
	{% endif %}

  	{% include page-links.html %}

</div>
