---
layout: default
---

{% assign swift = site.kits | where:"iid", 'swift' | first %}
{% assign languages = site.languages | push: swift | reverse %}

<div class="bs-docs-section">

	<div class="page-header">
    	<div class="row">
        	<div class="col-lg-12">
				<a href="/languages.html" class="pull-right">Goto Languages</a>
          		<h1 id="page-title">
			      	{{ page.name }}
				</h1>
        	</div>
      	</div>
    </div>

	<div class="row">
        <div class="col-lg-12">
			{{ content }}

			<h3>Languages</h3>
			<ul class="list-unstyled status_list">
				{% for language in languages %}
					{% assign feature = language.features[page.iid] %}
					<li>
						<small class="status_item">{% include mark-language-feature.html feature=feature %}</small>
						<a href="{{language.url}}">{{language.name}}</a>
					</li>
				{% endfor %}
			</ul>

		</div>
	</div>


</div>
