---
layout: default
---

<div >

	{% assign kits = site.kits | where: "since", page.iid %}

	<div class="page-header">
    	<div class="row">
        	<div class="col-lg-4">
          		<h1 id="page-title">
			      	{% if page.icon %}<img src="{{page.icon}}" width="100"/>&nbsp;{% endif %}
			      	{% include ios.html ios=page.iid %}
				</h1>
				
				<p>&nbsp;</p>
				
				{% if page.xcode %}
					{% assign xcodes = site.xcodes | where: "id", page.xcode %}
					{% assign xcode = xcodes[0] %}
		      		{% include xcode-link.html url=xcode.url name=xcode.name %}
				{% endif %}
				
				{% if page.releaseDate %}
					&nbsp;&bull;&nbsp;
					<span data-toggle="tooltip" data-placement="top" data-original-title="Release Date">
						<span class="label label-default">{{ page.releaseDate }}</span>
					</span>
				{% endif %}
				<p>&nbsp;</p>
				
				{% if kits.size > 0 %}
					<p>News:</p>
					<ol>
						{% for kit in kits %}
							<li>
								<a href="#{{ kit.iid }}">
									{% if kit.deprecated %}<strike>{% endif %}
									{{ kit.name }}
									{% if kit.deprecated %}</strike>{% endif %}
								</a>
						
						 		{% include mark-status.html status=kit.status %}
						 		{% include mark-technology.html type=kit.type %}
								&nbsp;<a href="{{ kit.url }}"><span class="glyphicon glyphicon-expand" aria-hidden="true"></span></a>
							</li>
						{% endfor %}
					</ol>
				{% endif %}

				
				{% assign updateCount = '0' %}
				{% for kit in site.kits %}
					{% for u in kit.detailedUpdates %}
						{% if u.update.ios == page.iid %}
							{% if updateCount == '0' %}
								<p>Updates:</p>
								<ol>
							{% endif %}

							{% capture updateCount %}{{ updateCount | plus: '1' }}{% endcapture %}
							<li>
								<a href="#{{ kit.iid }}">
									{% if kit.deprecated %}<strike>{% endif %}
									{{ kit.name }}
									{% if kit.deprecated %}</strike>{% endif %}
								</a>
							 	{% include mark-status.html status=kit.status %}
							 	{% include mark-technology.html type=kit.type %}
								&nbsp;<a href="{{ kit.url }}"><span class="glyphicon glyphicon-expand" aria-hidden="true"></span></a>
							</li>
						{% endif %}
					{% endfor %}
				{% endfor %}
				{% if updateCount != '0' %}
					</ol>
				{% endif %}

				
				{% if page.devices.size > 0 %}
					<p>Devices:</p>
					<ol>
						{% for d in page.devices %}
							{% for device in site.devices %}
								{% if d == device.iid %}
									<li>
										<a href="{{ device.url }}">{{ device.name }}</a>
									</li>
								{% endif %}
							{% endfor %}
						{% endfor %}
					</ol>
				{% endif %}

        	</div>

        	<div class="col-lg-8">
				{% for kit in kits %}
					<div id="{{ kit.iid }}"><p>&nbsp;</p></div>
					<div class="row">
						<h3 class="pull-right">
							{% include mark-technology.html type=kit.type %}
							{% include mark-status.html status=kit.status %}
						</h3>
						<h2>{% if kit.deprecated %}<strike>{% endif %}{{ kit.name }}{% if kit.deprecated %}</strike>{% endif %}</h2>

					 	{% include deprecated.html deprecated=kit.deprecated %}
						{{ kit.abstract }}
						<br />
						<a href="#top">top</a>&nbsp;&bull;&nbsp;<a href="{{ kit.url }}">more</a>
					</div>
				{% endfor %}


				<div id="updates"><p>&nbsp;</p></div>
				<div class="row"><h2>Updates</h2></div>

				{% for kit in site.kits %}
					{% for u in kit.detailedUpdates %}
						{% if u.update.ios == page.iid %}
						<div id="update_{{ kit.iid }}"><p>&nbsp;</p></div>
						<div class="row">
							<h4>
								<span data-toggle="tooltip" data-placement="top" data-original-title="Update">
									<span class="glyphicon glyphicon-check"></span>
								</span>&nbsp;
								{% if kit.deprecated %}<strike>{% endif %}
								{{ kit.name }}
								{% if kit.deprecated %}</strike>{% endif %}
							 	<small>{% include mark-status.html status=kit.status %}</small>
							 	<small>{% include mark-technology.html type=kit.type %}</small>
							</h4>
						 	{% include deprecated.html deprecated=kit.deprecated %}
							{{ u.update.brief }}
							<br />
							<a href="#top">top</a>&nbsp;&bull;&nbsp;<a href="{{ kit.url }}">more</a>
						</div>
						{% endif %}
					{% endfor %}
				{% endfor %}
        	</div>
      	</div>
    </div>

	<div class="row">
        <div class="col-lg-12">
			{{ content }}

		  	{% include page-links.html %}
      	</div>
    </div>
</div>
