"---
layout: default
---

<div class="bs-docs-section">

	<div class="page-header">
    	<div class="row">
        	<div class="col-lg-12">
          		<h1 id="page-title">{{ page.name }}</h1>
        	</div>
      	</div>
    </div>

	<p><span class="label label-primary">{{page.since}}</span> &bull; <a href="{{page.link}}">more</a></p>

	<div class="row">
        <div class="col-lg-12">
			{{ content }}

			{% if page.links %}
				<p>&nbsp;</p>
				<h3>Resources</h3>
				<ul>
					{% for l in page.links %}
						<li>
							{{ l.link.description }}<a href="{{ l.link.url }}" target="_blank">{{ l.link.name }}</a>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
	</div>

</div>
