---
layout: default
---

<div class="bs-docs-section">

	<div class="page-header">
    	<div class="row">
        	<div class="col-lg-12">
          		<h1 id="page-title">
			      	{% if page.icon %}
						<img src="{{page.icon}}" width="100"/>&nbsp;
					{% endif %}
					{{ page.name }}
			      	{% if page.status %}
						<small><small><span class="label label-primary"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;{{page.status}}</span></small></small>
					{% endif %}
				</h1>
        	</div>
      	</div>
    </div>

	<p>
  		<a href="/{{page.since}}"><span class="label 
		{% if page.since == "iOS8" %}label-primary
		{% elsif page.since == "iOS7" %}label-success
		{% elsif page.since == "iOS6" %}label-danger
		{% elsif page.since == "iOS5" %}label-warning
		{% else %}label-info
		{% endif %}
  		">{{page.since}}</span></a>

		{% if page.xcode %}&nbsp;&bull;&nbsp;
			{% assign xcodes = site.xcodes | where: "id", page.xcode %}
			{% assign xcode = xcodes[0] %}
			<a href="{{xcode.url}}"><span class="label 
				{% if page.xcode == "xcode6" %}label-primary
				{% elsif page.xcode == "xcode5" %}label-success
				{% elsif page.xcode == "xcode45" %}label-danger
				{% elsif page.xcode == "xcode42" %}label-warning
				{% else %}label-info
				{% endif %}
			">{{xcode.name}}</span></a>
		{% endif %}

		{% if page.link %}&nbsp;&bull;&nbsp;<a href="{{page.link}}" target="_blank">more</a>{% endif %}
	</p>

	<div class="row">
        <div class="col-lg-12">
			{{ content }}

			<p>&nbsp;</p>

			{% if page.kits %}
				<h3>Kits</h3>
				<ul>
					{% for kit in page.kits %}
						<li>
							<a href="/{{ kit }}">{{ kit }}</a>
						</li>
					{% endfor %}
				</ul>
			{% endif %}

			{% if page.links %}
				<h3>Resources</h3>
				<ul>
					{% for l in page.links %}
						<li>
							<a href="{{ l.link.url }}" target="_blank">{{ l.link.name }}</a>{{ l.link.description }}
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
	</div>

</div>
