---
layout: default
---

<div class="bs-docs-section">

	<div class="page-header">
    	<div class="row">
        	<div class="col-lg-12">
				<a href="/languages.html" class="pull-right">Goto Languages</a>
          		<h1 id="page-title">
			      	{{ page.name }}
				</h1>
        	</div>
      	</div>
    </div>

	<div class="row">
        <div class="col-lg-12">
			{{ content }}

			<h3>Features</h3>
			<ul class="list-unstyled status_list">
				{% for feature in site.languageFeatures %}
					{% assign featureSupport = page.features[feature] %}
					<li>
						<small class="status_item">{% include mark-language-feature.html feature=featureSupport %}</small>
						{{feature}}
					</li>
				{% endfor %}
			</ul>

		</div>
	</div>


</div>
